@import "styles/reset";
@import "styles/fonts";

$white-gray-color: #ecf0f1;
$dark-color: #2c3e50;
$red_color: #e74c3c;
$l-blue-color: #3498db;
$d-blue-color: #2980b9;
$gray-color: #c7d3d6;
$text-secondary-color: #a1aeb7;
$text-color: #505d68;
$font-family-heading: "Chivo";
$font-family-paragraph: "Overpass";
$h1: 2.441rem;
$h2: 1.953rem;
$h4: 1.25rem;
$p5: 1rem;
$p4: 1.25rem;
$p6: 0.8rem;
html,
body,
#root,
.App {
	height: 100%;
	margin: 0;
}
@mixin border($border-color: $dark-color) {
	border: 1px solid $border-color;
	border-radius: 0.25rem;
}
@mixin fill($fill-color: $dark-color) {
	color: $fill-color;
	background-color: $fill-color;
	border-radius: 0.25rem;
	border: none;
}
@mixin outline($border-color: $dark-color) {
	background-color: transparent;
	@include border($border-color);
}
ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
li {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	p {
		font-family:$font-family-paragraph ;
		flex-grow: 1;
	}
}
input {
	display: inline-block;
	padding: 6px 12px;
	font-size: $p5;
	font-family: $font-family-paragraph;
	text-decoration: none;
	color: $text-secondary-color;
	@include border($text-color);
	height: min-content;
}
.Button {
	display: inline-block;
	padding: 6px 12px;
	font-size: $p5;
	font-family: $font-family-paragraph;
	text-decoration: none;
	height: min-content;
}
.Button.dark {
	@include fill($dark-color);
}
.Button.dark.outline {
	@include outline($dark-color);
}
.Button.secondary {
	@include fill($text-color);
}
.Button.secondary.outline {
	@include outline($text-color);
}
.Button.blue {
	@include fill($d-blue-color);
}
.Button.blue.outline {
	@include outline($d-blue-color);
}

.App {
	grid: "header header" 15% "sidebar main" 85% / [sidebar] 25% [main] 75%;
	display: grid;
	width: 100%;
	color: $text-color;
}

.Header {
	grid-area: header;
	background-color: $white-gray-color;
	display: flex;
	.Logo {
		width: 25%;
		padding: 2rem;
		align-self: flex-start;
		box-sizing: border-box;
		font-size: $h2;
		font-family: $font-family-heading;
	}
	.Search {
		padding: 2rem 0;
		display: flex;
		flex: 1 0 auto;
		gap: 0.5rem;
		input {
			background-color: $white-gray-color;
		}
	}
	.LoginRegister {
		display: flex;
		gap: 0.5rem;
		padding: 2rem;
	}
}

.Main {
	grid-area: main;
	@include border($dark-color);
	color: white;
	display: flex;
}
.Sidebar {
	grid-area: sidebar;
	background-color: $white-gray-color;
	position: relative;
	padding: 2rem;
	.SidebarContent {
		height: 86%;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
		.SidebarGroup {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			.Label {
				display: flex;
				font-size: $h4;
				font-family:$font-family-heading;
				color: $text-secondary-color;
				align-items: center;
				p {
					flex-grow: 1;
				}
			}
		}
		hr {
			margin: 1.5rem 0;
			color: $text-secondary-color;
		}
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.SidebarContent::-webkit-scrollbar {
		display: none;
	  }
	.CreateButton {
		position: absolute;
		box-sizing: border-box;
		bottom: 0;
		left: 0;
		padding: 2rem;
		display: flex;
		width: 100%;
		.Button {
			flex-grow: 1;
			color: white;
		}
	}
}
