@import "styles/reset";
@import "styles/fonts";
//color variables
$color-background: #ecf0f1;
$color-surface: #ffffff;
$color-p-dark: #031828;
$color-primary: #2c3e50;
$color-p-light: #57687c;
$color-red: #e74c3c;
$color-s-light: #73c9ff;
$color-secondary: #3498db;
$color-s-dark: #006aa9;
$color-on-s: #000000;
$color-on-p: #ffffff;
$color-text-on-light-1: #000000de;
$color-text-on-light-2: #00000099;
$color-text-on-light-disabled: #00000061;
$color-text-on-dark-1: #ffffffde;
$color-text-on-dark-2: #ffffff99;
$color-text-on-dark-disabled: #ffffff61;
$color-overlay-hovered: #3498db0a;
$color-overlay-pressed: #3498db1a;
$color-overlay-focused: #3498db1f;
//shadow variables
$outer-shadow: 9px 9px 16px #c9cccd, -9px -9px 16px rgba(255, 255, 255, 0.5);
$inset-shadow: inset 10px 10px 15px -10px #c9cccd,
	inset -10px -10px 15px -10px #ffffff;
$shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow1-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
//text variables
$font-family-heading: "Chivo";
$font-family-paragraph: "Overpass";
$h1: 2.441rem;
$h2: 1.953rem;
$h4: 1.25rem;
$h5: 1rem;
$p5: 1rem;
$p4: 1.25rem;
$p6: 0.8rem;

html,
body,
#root,
.App {
	height: 100%;
	margin: 0;
}
//scroll styles
* {
	scrollbar-width: thin;
	scrollbar-color: $color-primary $color-surface;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.75rem;
}

*::-webkit-scrollbar-track {
	background: $color-surface;
}

*::-webkit-scrollbar-thumb {
	background-color: $color-primary;
	border-radius: 0.25rem;
	border: 1px solid $color-surface;
}

@mixin border($border-color: $color-primary) {
	border: 1px solid $border-color;
	border-radius: 0.25rem;
}
@mixin fill($fill-color: $color-primary) {
	color: white;
	background-color: $fill-color;
	border-radius: 0.25rem;
	border: 0;
	@include border($fill-color);
}
@mixin outline($border-color: $color-primary) {
	background-color: transparent;
	color: $border-color;
	@include border($border-color);
}
a {
	text-decoration: none;
	color: inherit;
}
input {
	display: inline-block;
	padding: 6px 12px;
	font-size: $p5;
	font-family: $font-family-paragraph;
	text-decoration: none;
	color: $color-text-on-light-2;
	@include border($color-text-on-light-2);
	height: min-content;
}
.Button {
	display: inline-block;
	padding: 6px 12px;
	font-size: $p5;
	font-family: $font-family-paragraph;
	text-decoration: none;
	height: min-content;
	transition: all 0.3s;
	&:active {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
}
.Button.primary {
	@include fill($color-primary);
	&:hover {
		@include outline($color-primary);
	}
}
.Button.primary-outline {
	@include outline($color-primary);
	&:hover {
		@include fill($color-primary);
	}
}
.Button.secondary {
	@include fill($color-secondary);
	&:hover {
		@include outline($color-secondary);
	}
}
.Button.secondary-outline {
	@include outline($color-secondary);
	&:hover {
		@include fill($color-secondary);
	}
}
.Button.red {
	@include fill($color-red);
	&:hover {
		@include outline($color-red);
	}
}
.Button.red-outline {
	@include outline($color-red);
	&:hover {
		@include fill($color-red);
	}
}
.App {
	grid: "header header" 6rem "sidebar main" 85% / [sidebar] 22rem [main] 1fr 2rem;
	display: grid;
	width: 100%;
	color: $color-text-on-light-2;
	background-color: $color-background;
	overflow: hidden;
	position: relative;
}

.Header {
	grid-area: header;
	display: flex;
	.Logo {
		width: 22rem;
		padding: 2rem;
		align-self: flex-start;
		box-sizing: border-box;
		font-size: $h2;
		font-family: $font-family-heading;
	}
	.Search {
		padding: 2rem 0;
		display: flex;
		flex: 1 0 auto;
		gap: 0.5rem;
		form {
			position: relative;
			width: 30rem;
			input {
				z-index: 1;
				outline: 0;
				position: relative;
				width: 100%;
				border-radius: 0.25rem;
				appearance: none; //for ios. input[type="search"] roundedness issue. border-radius alone doesn't work
				background-color: $color-background;
				transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
				transition-property: border, width;
				color: $color-text-on-light-2;
				border-color: $color-text-on-light-2;
			}
			button {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 6rem;
				border-radius: 0 0.25rem 0.25rem 0;
				&:active {
					-webkit-transform: translate(5px);
					transform: translate(5px);
				}
			}
			input:focus {
				border-color: $color-secondary;
			}
			input:not(:placeholder-shown) {
				border-radius: 0.25rem 0 0 0.25rem;
				width: 24rem;
				color: $color-on-s;
			}
		}
	}
	.Nav {
		display: flex;
		gap: 0.5rem;
		padding: 2rem 0;
	}
}
.Main {
	background-color: $color-surface;
	grid-area: main;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	z-index: 3;
	box-shadow: $shadow2;
	position: relative;
	.Label {
		font-size: $h2;
		font-family: $font-family-heading;
		padding: 2rem;
		box-shadow: $shadow2;
	}
	.MainContent {
		padding: 0 4rem;
		overflow-y: scroll;
		.RecordsList {
			margin: 2rem 0;
			display: flex;
			flex-direction: column;
			.RecordCard {
				display: flex;
				margin-bottom: 1rem;
				box-shadow: $shadow1;
				border-radius: 0.25rem;
				&:last-child {
					margin-bottom: 0;
				}
				.CheckContainer {
					background-color: $color-primary;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 3rem;
					border-top-left-radius: 0.25rem;
					border-bottom-left-radius: 0.25rem;
					.check {
						cursor: pointer;
						width: 18px;
						height: 18px;
						-webkit-tap-highlight-color: transparent;
						transform: translate3d(0, 0, 0);
						padding: 0;
						border: none;
						background-color: transparent;
						svg {
							position: relative;
							z-index: 1;
							fill: none;
							stroke-linecap: round;
							stroke-linejoin: round;
							stroke: $color-secondary;
							stroke-width: 1.5;
							transform: translate3d(0, 0, 0);
							transition: all 0.2s ease;
						}
						path {
							stroke-dasharray: 60;
							stroke-dashoffset: 0;
						}
						polyline {
							stroke-dasharray: 22;
							stroke-dashoffset: 66;
						}
						&:hover {
							&:before {
								opacity: 1;
							}
							svg {
								stroke: $color-s-light;
							}
						}
					}
					.check.clicked {
						svg {
							stroke: $color-s-light;
							path {
								stroke-dashoffset: 60;
								transition: all 0.3s linear;
							}
							polyline {
								stroke-dashoffset: 42;
								transition: all 0.2s linear;
								transition-delay: 0.15s;
							}
						}
					}
				}
				.CardContainer {
					padding: 1rem;
					display: flex;
					flex-direction: column;
					gap: 1rem;
					width: 100%;
					.CardHeader {
						display: flex;
						p {
							width: 100%;
							font-family: $font-family-heading;
							font-size: $h4;
						}
					}
					p {
						line-height: 1.2rem;
						font-family: $font-family-paragraph;
					}
				}
			}
		}
	}
}
.Sidebar {
	grid-area: sidebar;
	position: relative;
	padding: 0 2rem 2rem 2rem;

	ul.SidebarContent {
		height: 86%;
		overflow-y: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		.All {
			display: flex;
			align-items: center;
			padding: 1rem;
			gap: 0.5rem;
			list-style: none;
			color: $color-text-on-light-2;
			border-bottom: 1px solid $color-text-on-light-2;
			p {
				font-family: $font-family-paragraph;
				font-size: $p5;
			}
			&:hover {
				background-color: $color-overlay-hovered;
				color: $color-secondary;
				transition: 0.3s all;
			}
		}
		.Accordion {
			display: table;
			width: 100%;
			border-bottom: 1px solid $color-text-on-light-2;
			&:last-child {
				border: none;
			}
			.Label {
				display: flex;
				height: 3.125rem;
				padding: 0 1rem;
				font-size: $h4;
				font-family: $font-family-heading;
				color: $color-text-on-light-2;
				align-items: center;
				transition: 0.3s all;
				p {
					font-size: $p5;
					flex-grow: 1;
				}
				svg {
					transform-origin: 100% 4px;
					transition: 0.3s transform;
				}
				&:hover {
					background-color: $color-overlay-hovered;
					color: $color-secondary;
					transition: 0.3s all;
				}
			}
			.AccordionContent {
				overflow: hidden;
				height: 0;
				li {
					border-color: transparent;
					border-top-color: $color-text-on-light-2;
					&:first-child {
						border-color: transparent;
					}
				}
			}
		}
		.active {
			border: none;
			.Label {
				text-transform: uppercase;
				transition: 0.3s all;
				color: $color-secondary;
				> svg {
					transform: rotateX(180deg);
					transition: 0.3s all;
				}
			}
			> .AccordionContent {
				display: block;
				width: 100%;
				height: auto;
				box-shadow: $inset-shadow;
				color: $color-text-on-light-2;
				li {
					display: flex;
					align-items: center;
					padding: 1rem;
					gap: 0.5rem;
					border: 1px solid transparent;
					border-top-color: $color-text-on-light-2;
					list-style: none;
					transition: 0.3s border-color ease;
					&:first-child {
						border-color: transparent;
					}
					p {
						font-family: $font-family-paragraph;
						font-size: $p5;
					}
					&:hover {
						border: 1px solid $color-secondary;
						background-color: $color-overlay-hovered;
						transition: 0.3s all;
					}
				}
				li:hover + li {
					border-color: transparent;
				}
			}
		}
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.SidebarContent::-webkit-scrollbar {
		display: none;
	}
	.CreateButton {
		position: absolute;
		box-sizing: border-box;
		bottom: 0;
		left: 0;
		padding: 2rem;
		display: flex;
		width: 100%;
		.Button {
			flex-grow: 1;
			// color: $color-text-on-dark-1;
		}
	}
}
.Profile,
.ProfileEdit,
.SignUp,
.LogIn,
.LogOut {
	display: flex;
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #00000099;
	.Modal {
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 32rem;
		height: min-content;
		background-color: $color-surface;
		border: 1px solid $color-p-light;
		border-radius: 0.25rem;
		// padding: 2rem 6rem;
		gap: 3rem;
		box-sizing: border-box;
		.ModalHeader {
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid $color-p-light;
			padding: 1rem 1.5rem;
			svg {
				cursor: pointer;
			}
			p {
				width: 100%;
				font-size: $h4;
				font-family: $font-family-heading;
			}
		}
		.Label {
			width: 100%;
			height: min-content;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 2rem;
			p {
				font-size: $h2;
				font-family: $font-family-heading;
			}
		}
		.ModalContent {
			font-family: $font-family-paragraph;
			font-size: $p4;
			padding: 0 4rem;
		}
		form {
			padding: 0 6rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			label {
				color: $color-text-on-light-1;
				font-size: $h5;
				font-family: $font-family-heading;
			}
			input {
				color: $color-text-on-light-2;
				border-color: $color-text-on-light-2;
				font-size: $p5;
				font-family: $font-family-paragraph;
				margin-bottom: 0.5rem;
				&:last-child {
					margin: 0;
				}
				&:focus {
					outline: 0;
					border-color: $color-secondary;
				}
			}
			span {
				margin-top: -0.5rem;
				font-size: $p6;
				font-family: $font-family-paragraph;
				display: inline-block;
				color: $color-secondary;
				cursor: pointer;
			}
			#edit{
				width:100%;
				text-align: right;
				font-size: $p5;	
			}
		}
		.Footer {
			display: flex;
			justify-content: flex-end;
			padding: 1rem;
			border-top: 1px solid $color-p-light;
			gap: 1rem;
		}
		.RegFooter {
			padding: 0 6rem 2rem 6rem;
			display: flex;
			flex-direction: column;
			p {
				font-family: $font-family-paragraph;
				font-size: $p5;
				text-align: center;
				margin-top: 1rem;
				span {
					display: inline-block;
					color: $color-secondary;
					cursor: pointer;
				}
			}
		}
	}
}
